<a href="https://colab.research.google.com/github/rajni-arora/Data-Analytics-Visualisation-Probability-Statistics/blob/main/conditional_prob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Grade': ['A']*40 + ['B']*60,
    'Extracurricular': ['Yes']*30 + ['No']*10 + ['Yes']*20 + ['No']*40
}

df = pd.DataFrame(data)

In [ ]:
df

   Grade Extracurricular
0      A             Yes
1      A             Yes
2      A             Yes
3      A             Yes
4      A             Yes
..   ...             ...
95     B              No
96     B              No
97     B              No
98     B              No
99     B              No

[100 rows x 2 columns]

## Marginal Probability

Q: Probability that a student got an "A"?

In [ ]:
len(df)

100

In [ ]:
len(df[df['Grade'] == "A"]) / len(df)

0.4

## Conditional Probability

Q: Probability a student got an 'A' given they participate in extracurricular activities.

In [ ]:
st_extra = df[df['Extracurricular'] == "Yes"]
st_no_extra = df[df['Extracurricular'] == "No"]
p_A_given_extra = len(st_extra[st_extra['Grade'] == "A"]) / len(st_extra)
p_A_given_extra

0.6

In [ ]:
p_extra = len(df[df['Extracurricular'] == "Yes"]) / len(df)
p_extra

0.5

In [ ]:
p_no_extra = 1 - p_extra
p_no_extra

0.5

In [ ]:
p_A_given_extra = len(st_extra[st_extra['Grade'] == "A"]) / len(st_extra)

In [ ]:
p_A_given_extra

0.6

In [ ]:
p_A_given_no_extra = len(st_no_extra[st_no_extra['Grade'] == "A"]) / len(st_no_extra)
p_A_given_no_extra

0.2

In [ ]:
p_total_A = p_A_given_extra * p_extra + p_A_given_no_extra * p_no_extra
p_total_A

0.4